.header {
    grid-area: h;
    background-color: #383737;
}

.header img {
    width: 30px;
    margin: 10px;
}

.headerContent {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

h3 {
    color: bisque;
    position: relative;
    z-index: 1;
}

h3:before {
    content: '';
    height: 3px;
    width: 100%;
    background-color: #d9314c;
    position: absolute;
    display: inline-block;
    /*transform: translateY(100%);*/
    z-index: -1;
    top: 100%;
    transition: .2s;
}

h3:hover::before {
    height: 10px;
    /*transform: translateY(50%);*/
    top: 65%;
}

.login {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.login a {
    color: bisque;
    position: relative;
    z-index: 1;
    text-decoration: none;
    font-weight: bold;
}

.login a:before {
    content: '';
    height: 3px;
    width: 100%;
    background-color: #d9314c;
    position: absolute;
    display: inline-block;
    /*transform: translateY(100%);*/
    z-index: -1;
    top: 100%;
    transition: .2s;

}
.login a:hover::before {
    height: 10px;
    /*transform: translateY(50%);*/
    top: 65%;
}

.name {
    color: bisque;
    margin: 10px;
    font-weight: bold;
}