
.nav {
    grid-area: n;
    background-color: #383737;
    padding: 20px;
    min-width: 250px;
    max-width: 300px;
}
.item {
    color: bisque;
    line-height: 30px;
}
.item a.active:before {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #d9314c;
    position: absolute;
    display: inline-block;
    top: 100%;
    transition: .2s;
}


.item a {
    color: bisque;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

